body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    margin-top: 40px;
}

.container {
    margin-top: 30px;
}

a {
    display: block;
    margin: 15px;
    padding: 15px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}